################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cwpai3d_bridge
/.idea/.idea.cwpai3d_bridge/.idea
/examplelib/.vs/examplelib/v17
/examplelib/bin
/examplelib/obj
